@charset "utf-8";

/** sp共通 **/

.pc {
    display: none !important;
}

.sp {
    display: block !important;
}

h1 {
    margin: 0;
    border: none;
}

header {
    background: #fff;
    padding: 7px 0 5px 8px;
    position: relative;
    width: auto;
    margin: 0;
}

header .logo img {
    width: auto !important;
    height: 40px !important;
}

/*開閉ボタン*/
#nav_toggle {
    float: right;
    display: block;
    width: 20px;
    position: relative;
    top: -28px;
    right: 8px;
    z-index: 100;
}

#nav_toggle div {
    position: relative;
}

#nav_toggle span {
    display: block;
    height: 2px;
    background: #333;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#nav_toggle span:nth-child(1) {
    top: 0px;
}

#nav_toggle span:nth-child(2) {
    top: 7px;
}

#nav_toggle span:nth-child(3) {
    top: 14px;
}

/*開閉ボタンopen時*/
.open #nav_toggle span:nth-child(1) {
    top: 7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
}

.open #nav_toggle span:nth-child(2) {
    width: 0;
    left: 50%;
}

.open #nav_toggle span:nth-child(3) {
    top: 7px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.header nav {
    clear: both;
    display: none;
    position: absolute;
    top: 40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    z-index: 999999;
}

.header nav ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.header nav ul a:hover,
#form a:hover {
    opacity: 1;
}

#form {
    margin: 0 7px 40px;
    padding: 15px;
    max-width: 100%;
}

#form h3 {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.4;
}

#form p {
    font-size: 9px;
    margin-bottom: 5px;
}

#form .tel {
    margin-bottom: 15px;
}

#form .tel a {
    margin-bottom: 0;
    pointer-events: auto;
}

#form img {
    zoom: .5;
}


footer #link h4 {
    padding: 10px 15px 10px 40px;
    margin-bottom: 0;
    background: url(../../img/icon-plus.png) no-repeat 15px 50%;
}